  @media screen and (max-width:768px) {
    .navigation{
      display: none
    }
    .modal .navigation{
      display: flex;
      justify-content: center;
      ul{
      flex-direction: column;
      }
    }

    .logo-wrapper{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

.header{
  width: 100%;
}

.logo{
  border-radius: 50%;
  border: 1px solid black;
  margin: 1em;
  height: 3em;
  height: 3em;
}
.logo-wrapper{
  display: flex;
  width: 100%;
}
.navigation{
  width: 100%;
}

.nav-bar{
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin: 2em;
  flex-direction: row;
  justify-content: space-around;
}


.nav-item{
  position: relative;
  list-style-type: none;
  font-style: normal;
  padding: 0.5em;
  a{
    color: #000000;
    text-decoration: none;
    margin: 0.5em;
    white-space: nowrap;
  }
}


.nav-item::after{
    position: absolute;
    bottom:0;
    left: 0;
    content: '';
    height: 2px;
    background-color: black;
    width: 0%;
    transition: 0.5s ease-in-out;
  }

.nav-item:hover::after{
    width: 100%;
    transition: 0.5s ease-in-out;
}

